<%- include('./partials/head.ejs') %>

<main>

<div class="komedieseries-slider">
    <h2>Komedieseries <a href="/?squad=<%= squad.slug %>&orderBy=name" class="order-by-name">Sorteer op naam</a></h2>


  <section class="komedieseries">
      <% squad.members.forEach(member => { %>
    <article href="<">
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/puppy.png" alt="Placeholder avatar" />
      <% } %>
      <h2><%= member.name %> <%= member.prefix %><%= member.surname %></h2>
    </article>
    <% }) %>
</section>
</div>

  <section>
    <!-- Hier komen de members -->
    <!-- <% squad.members.forEach(member => { %>
    <article href="<">
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/puppy.png" alt="Placeholder avatar" />
      <% } %>
      <h2><%= member.name %> <%= member.prefix %><%= member.surname %><br><%= member.nickname%></h2>
    </article>
    <% }) %> -->
  </section>
</main>

<%- include('./partials/foot.ejs') %>