<%- include('./partials/head.ejs') %>

<main>
  <h2>Komedieseries</h2>

<!-- <section>
    <button class="order-by-name"><a href="/?squad=<%= squad.slug %>&orderBy=name">Sorteer op naam</a></button>
</section> -->

  <section>
    <!-- Hier komen de members -->
    <!-- <% squad.members.forEach(member => { %>
    <article href="<">
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/puppy.png" alt="Placeholder avatar" />
      <% } %>
      <h2><%= member.name %> <%= member.prefix %><%= member.surname %><br><%= member.nickname%></h2>
    </article>
    <% }) %> -->
  </section>
</main>

<%- include('./partials/foot.ejs') %>